/* dm-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/dm-sans-v17-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/dm-sans-v17-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/dm-sans-v17-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 600;
  src: url("/assets/fonts/dm-sans-v17-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/dm-sans-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/montserrat-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --c-neutral-900: #101522;
  --c-neutral-800: #182032;
  --c-neutral-700: #22304a;
  --c-neutral-600: #2e3e5c;
  --c-neutral-300: #6c7a92;
  --c-neutral-200: #b3bed1;
  --c-neutral-0: #f6f8fa;
  --c-orange-500: #ff9100;
  --c-blue-500: #4253e6;
  --c-blue-700: #3a2e7a;

  --color-main-bg: var(--c-neutral-900);
  --color-text-lv1: var(--c-neutral-0);
  --color-text-lv2: var(--c-neutral-200);
  --color-box-bg-dark: var(--c-neutral-800);
  --color-box-bg-md: var(--c-neutral-700);
  --color-box-bg-light: var(--c-neutral-600);
  --color-box-border: var(--c-neutral-600);
  --color-btn-bg: var(--c-blue-500);

  --color-box-bg-dark-hover: var(--c-neutral-700);
  --color-btn-bg-hover: var(--c-blue-700);

  --fs-96: calc(96 / 16 * 1rem);
  --fs-52: calc(52 / 16 * 1rem);
  --fs-32: calc(32 / 16 * 1rem);
  --fs-28: calc(28 / 16 * 1rem);
  --fs-20: calc(20 / 16 * 1rem);
  --fs-18: calc(18 / 16 * 1rem);
  --fs-16: calc(16 / 16 * 1rem);
  --fs-14: calc(14 / 16 * 1rem);

  --fontSize-h1: var(--fs-52);
  --fontSize-dropdown: var(--fs-14);
  --fontSize-search: var(--fs-20);
  --fontSize-btn: var(--fs-20);
  --fontSize-city: var(--fs-28);
  --fontSize-date: var(--fs-18);
  --fontSize-temperature: var(--fs-96);
  --fontSize-box-title: var(--fs-18);
  --fontSize-box-value: var(--fs-32);
  --fontSize-forecast-title: var(--fs-20);
  --fontSize-forecast-day: var(--fs-18);
  --fontSize-forecast-temp: var(--fs-16);
  --fontSize-forecast-dropdown: var(--fs-16);
  --fontSize-forecast-hour: var(--fs-20);

  @media (width >= calc(700 / 16 * 1rem)) {
    --fontSize-dropdown: var(--fs-16);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img {
  max-width: 100%;
}
body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
}
h1,
h2,
h3 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
}
