@layer global {
  /* dm-sans-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/dm-sans-v17-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* dm-sans-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/dm-sans-v17-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* dm-sans-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 600;
    src: url("/assets/fonts/dm-sans-v17-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* dm-sans-600italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Sans";
    font-style: italic;
    font-weight: 600;
    src: url("/assets/fonts/dm-sans-v17-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* dm-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/dm-sans-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/montserrat-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  :root {
    --c-neutral-900: #0a0a1f;
    --c-neutral-800: #242238;
    --c-neutral-700: #272b43a3;
    --c-neutral-600: #2e3e5c;
    --c-neutral-300: #6c7a92;
    --c-neutral-200: #b3bed1;
    --c-neutral-0: #f6f8fa;
    --c-orange-500: #ff9100;
    --c-blue-500: #4253e6;
    --c-blue-700: #373d9e;

    --color-main-bg: var(--c-neutral-900);
    --color-text-lv1: var(--c-neutral-0);
    --color-text-lv2: var(--c-neutral-200);
    --color-box-bg-dark: var(--c-neutral-800);
    --color-box-bg-md: var(--c-neutral-700);
    --color-box-bg-light: var(--c-neutral-600);
    --color-box-border: var(--c-neutral-600);
    --color-btn-bg: var(--c-blue-500);

    --color-box-bg-dark-hover: var(--c-neutral-700);
    --color-btn-bg-hover: var(--c-blue-700);

    --fs-96: calc(96 / 16 * 1rem);
    --fs-52: calc(52 / 16 * 1rem);
    --fs-32: calc(32 / 16 * 1rem);
    --fs-28: calc(28 / 16 * 1rem);
    --fs-20: calc(20 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-14: calc(14 / 16 * 1rem);

    --fontSize-h1: var(--fs-52);
    --fontSize-dropdown: var(--fs-14);
    --fontSize-search: var(--fs-20);
    --fontSize-btn: var(--fs-20);
    --fontSize-city: var(--fs-28);
    --fontSize-date: var(--fs-18);
    --fontSize-temperature: var(--fs-96);
    --fontSize-box-title: var(--fs-18);
    --fontSize-box-value: var(--fs-32);
    --fontSize-forecast-title: var(--fs-20);
    --fontSize-forecast-day: var(--fs-18);
    --fontSize-forecast-temp: var(--fs-16);
    --fontSize-forecast-dropdown: var(--fs-16);
    --fontSize-forecast-hour: var(--fs-20);

    @media (width >= calc(700 / 16 * 1rem)) {
      --fontSize-dropdown: var(--fs-16);
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  img {
    max-width: 100%;
  }
  body {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: var(--color-main-bg);
    color: var(--color-text-lv1);
    letter-spacing: 0.4px;
  }
  h1,
  h2,
  h3 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  input,
  textarea,
  button {
    font: inherit;
    width: 100%;
  }
  select {
    background-color: var(--color-box-bg-dark);
    color: var(--color-text-lv1);
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr calc(100% - 32px) 1fr;

    @media (width >= calc(700/ 16 * 1rem)) {
      grid-template-columns: 1fr min(calc(100% - 96px), calc(1216 / 16 * 1rem)) 1fr;
    }

    > * {
      grid-column: 2;
    }
  }
  .visually--hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    &.skip--link:focus {
      left: 0;
      width: auto;
      height: auto;
      background-color: var(--color-main-bg);
      color: var(--color-text-lv1);
      padding: 12px;
      border: 2px solid var(--color-text-lv2);
    }
  }
  .main {
    display: grid;
    gap: calc(36 / 16 * 1rem);
  }
  .block {
    background-color: var(--color-box-bg-dark);
    border-radius: 12px;
    border: 1px solid var(--color-box-bg-light);
    font-size: var(--fs-16);
    letter-spacing: -0.125px;
    font-weight: 300;
    display: grid;
    gap: 24px;
  }
}
@layer component {
  .header {
    .header--content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block-start: 24px;
    }
    .header--logo {
      width: calc(137 / 16 * 1rem);
      @media (width >= calc(700 / 16 * 1rem)) {
        width: calc(197 / 16 * 1rem);
      }
    }
    .header--homelink {
    }
    .header--dropdown-wrapper {
      display: flex;
      justify-content: space-between;
      gap: calc(40 / 16 * 1rem);
      background-color: var(--color-box-bg-dark);
      padding: 8px 8px;
      border-radius: 8px;
      border: none;
      outline: none;
      box-shadow: none;
      cursor: pointer;
      align-items: center;
    }
    .header--dropdown {
      /* width: calc(40 / 16 * 1rem); */
      font-size: var(--fs-16);
    }
    .header--dropdown-option {
      background-color: var(--color-box-bg-dark-hover);
      padding: 24px;
    }
  }
  .main-stack {
    padding-block-end: 24px;
  }
  .hero {
    .hero--content {
      padding-block-start: 48px;
      display: grid;
      justify-items: center;
    }
    .hero--title {
      font-size: var(--fontSize-h1);
      margin-block-end: 32px;
      text-align: center;
      line-height: 1.2;
      letter-spacing: -1.2px;
      color: var(--color-text-lv2);
      span {
        color: var(--color-btn-bg-hover);
      }
      @media (width >= calc(700 / 16 * 1rem)) {
        width: 15ch;
      }
    }
    .hero--search {
      display: grid;
      gap: calc(12 / 16 * 1rem) 1rem;

      @media (width >= calc(700 / 16 * 1rem)) {
        grid-template-columns: 1fr 30%;
        width: 60%;
      }
    }
    .hero--textBox {
      outline: none;
      box-shadow: none;
      background: url(/assets/images/icon-search.svg);
      background-repeat: no-repeat;
      background-position: 24px center;
      border: none;
      background-color: var(--color-box-bg-dark);
      font-size: var(--fontSize-search);
      padding: 12px 20px 12px 64px;
      color: var(--color-text-lv2);
      border-radius: 12px;
      font-weight: 300;
      position: relative;
      z-index: 1;
      /* Effet border animé */
      box-shadow: 0 0 0 0 var(--color-btn-bg-hover) inset;
      transition: box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus,
      &:active {
        outline: none;
        box-shadow: 0 0 0 2px var(--color-btn-bg-hover) inset;
      }
      &:focus,
      &:active {
        transition: box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        height: 100%;
      }
    }
    .hero--btn {
      background-color: var(--color-btn-bg);
      border: none;
      font-size: var(--fontSize-search);
      color: var(--color-text-lv1);
      padding-block: 12px;
      border-radius: 12px;
      transition: background-color 120ms ease-in-out;
      cursor: pointer;
      font-weight: 300;

      &:hover,
      &.hero--btn.clided {
        background-color: var(--color-btn-bg-hover);
      }
    }
  }
  .current {
    .current--weather {
      background-image: url(assets/images/bg-today-small.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: grid;
      justify-items: center;
      padding: 1rem;
      border-radius: 20px;
      overflow: hidden;

      @media (width >=calc(700 / 16 * 1rem)) {
        background-image: url(assets/images/bg-today-large.svg);
        grid-template-columns: repeat(2, 1fr);
        padding-block: 52px;
      }
    }
    .current--location,
    .current--city {
      text-align: center;
      @media (width >=calc(700 / 16 * 1rem)) {
        text-align: left;
      }
    }
    .current--location {
      font-weight: 500;
      letter-spacing: 0.8;
    }
    .current--city {
      font-size: var(--fs-28);
      line-height: 1;
      color: var(--color-text-lv1);
      text-transform: uppercase;
      padding-block: 12px;

      span {
        color: var(--color-text-lv2);
        font-size: var(--fs-20);
        font-weight: 300;
        text-transform: capitalize;
        letter-spacing: 0.125px;
      }
      br {
        width: 0;
        height: 0;
      }
    }

    .current--info {
      display: flex;
      align-items: center;
    }
    .current--date {
      font-size: var(--fontSize-date);
      color: var(--color-text-lv2);
    }
    .current--icon {
      width: 120px;
      height: 120px !important;
      margin-left: -42px;
    }
    .current--degree {
      font-size: var(--fs-52);
      color: var(--color-text-lv2);
      letter-spacing: -2px;
      font-style: italic;
    }
    .current--conditions {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      margin-block-start: 20px;
      @media (width >=calc(700 / 16 * 1rem)) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    .current--condition {
      padding: 20px;
    }
    .current--condition-title {
      font-size: var(--fs-14);
      letter-spacing: 0.125px;
    }
    .current--condition-value {
      font-size: var(--fs-28);
      font-weight: 500;
      color: var(--color-text-lv2);
      @media (width >=calc(700 / 16 * 1rem)) {
        font-size: var(--fs-28);
      }
    }
  }
  .daily {
    margin-block-start: 24px;
    .daily--title {
      font-weight: 600;
      letter-spacing: 0.4px;
      color: var(--color-text-lv2);
      padding-block-end: 24px;
    }
    .daily--forecast {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      @media (width >= calc(700 / 16 * 1rem)) {
        grid-template-columns: repeat(7, 1fr);
      }
    }
    .daily--day {
      display: grid;
      justify-items: center;
      padding: 16px 10px;
      text-align: center;
    }
    .daily--day-title {
      font-size: var(--fontSize-forecast-title);
    }
    .daily--day-img {
      width: 60px;
      height: auto;
    }
    .daily--day-temps {
      justify-self: stretch;
      font-size: var(--fontSize-forecast-temp);
      display: flex;
      justify-content: space-between;

      /* gap: calc(20 / 16 * 01rem); */
    }
    .daily--day-low {
      color: var(--color-text-lv2);
    }
    .daily--day-high {
    }
  }
  .hourly {
    display: grid;
    justify-items: center;
    margin-block-start: 36px;
    .hourly--content {
      background-color: var(--color-box-bg-dark);
      padding: 24px 18px;
      border-radius: 18px;
      width: 100%;
      @media (width >= calc(700 / 16 * 1rem)) {
        width: 80%;
      }
    }
    .hourly--header {
      display: flex;
      justify-content: space-between;
      margin-block-end: 24px;
    }
    .hourly--title {
      font-weight: 500;
      letter-spacing: 0.4px;
      color: var(--color-text-lv2);
    }
    .hourly--select {
    }
    .hourly--select-day {
    }
    .hourly--hours {
      display: grid;
      gap: 16px;
    }
    .hourly--hour {
      border: 1.6px solid var(--color-box-bg-light);
      background-color: var(--color-box-bg-md);
      border-radius: 16px;
      padding: 12px 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .hourly--hour-left {
      display: flex;
      align-items: center;
      gap: 4px;
    }
    .hourly--hour-icon {
      width: 40px;
      height: auto;
    }
    .hourly--hour-temp {
    }
    .hourly--hour-time {
      font-size: var(--fontSize-forecast-hour);
      color: var(--color-text-lv2);
    }
  }
}
@media (width >= 960px) {
  .main {
    gap: calc(64 / 16 * 1rem);
  }
  .main-stack {
    display: grid;
    grid-template-columns: 70% 1fr;
    padding-block-end: 36px;
    gap: 24px;
  }
  .hourly--content {
    width: 100%;
  }
  .current {
    margin: 0;
  }
  .current--condition {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 84px;
  }
  .main--stack-left {
    display: grid;
  }
  .daily--title {
    padding-block-end: 24px;
    font-size: var(--fs-52);
  }
  .hourly {
    margin: 0;
    .hourly--title {
      font-size: var(--fs-20);
    }
  }
  .daily {
    align-self: flex-end;
  }
}
